#head-container {
    width: 100%;
    height: 5em;
}

#site-title {
/*    float: left;*/
    height: 5em;
}

#department-selector {
    float: left;
}

#groups-selector {
    float: right;
}

#selectros {
    float: right;
}

#selectors {
    height: auto;
    float: right;
/*    border: 1px;*/
}
